Django==1.9.1
django-autoslug==1.9.3
django-markdown-deux==1.0.5
django-mptt==0.8.0
django-pagedown==0.1.1
django-polymorphic==0.8.1
easy-thumbnails==2.3
markdown2==2.3.0
Pillow==3.1.0
Unidecode==0.4.18
wheel==0.26.0
