{% extends "layout_productgroups.html" %}

{% load staticfiles %}
{% load thumbnail %}
{% load i18n %}

{% block heading %}
  <h1>
    {{ group.name }}
  </h1>
{% endblock %}

{% block content %}
  {% include 'products/include_productheader.html' with group=group %}

  {% include 'products/includes/general_advice_sawblades.html' with no_advice=True %}

  <hr>

  <h3 class="padding-bottom">{% trans "Produkte" %}</h3>
  <div class="row">
    <div class="col-md-6">
      {% for blade in blades %}
        {% if blade.type == "ISD" or blade.type == "ISE" %}
          {% if blade.image %}
            <div class="padding-bottom">
              <a href="{{ blade.image.url }}">
                <img src="{{ blade.image|thumbnail_url:'blade_image' }}" alt="clamping">
              </a>
            </div>
          {% endif %}

          <div class="products-list-item">
            <h4>
              <img src="{% static 'img/other/shark_small_45w.png' %}" alt="">
                <a class="text-normal" href="{% url 'products:details' slug=blade.group.slug type=blade.type %}">
                  {{ blade }}
                </a>
              <br>
              <img src="{% static 'img/other/blade_small_45w.png' %}" alt="">
              {{ blade.description }}
              <a href="{% url 'products:details' slug=blade.group.slug type=blade.type %}">
                {{ blade.type }} {% trans "Details" %}
              </a>
            </h4>
          </div>
          {% include 'core/edit_item.html' with model="products_sawblade" id=blade.id %}
        {% endif %}
      {% endfor %}
    </div>
    <div class="col-md-6">
      {% for blade in blades %}
        {% if blade.type == "ISF" %}
          {% if blade.image %}
            <div class="padding-bottom">
              <a href="{{ blade.image.url }}">
                <img src="{{ blade.image|thumbnail_url:'blade_image' }}" alt="clamping">
              </a>
            </div>
          {% endif %}

          <div class="products-list-item">
            <h4>
              <img src="{% static 'img/other/shark_small_45w.png' %}" alt="">
                <a class="text-normal" href="{% url 'products:details' slug=blade.group.slug type=blade.type %}">
                  {{ blade }}
                </a>
              <br>
              <img src="{% static 'img/other/blade_small_45w.png' %}" alt="">
              {{ blade.description }}
              <a href="{% url 'products:details' slug=blade.group.slug type=blade.type %}">
                {{ blade.type }} {% trans "Details" %}
              </a>
            </h4>
          </div>
          {% include 'core/edit_item.html' with model="products_sawblade" id=blade.id %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock %}