{% extends "base.html" %}
{% load thumbnail %}

{% block heading %}
  <h1>{{ entry.title }}</h1>
  <h4>
    <small>
      {{ entry.created|date:"j. N Y" }}{% if entry.author %} von {{ entry.author }}{% endif %}
    </small>
  </h4>
{% endblock %}

{% block content %}
  {% if entry.image %}
    <div id="news-detail-image">
      <img class="img-responsive" src="{{ entry.image|thumbnail_url:'news_detail' }}" alt="{{ entry.title }}-image">
    </div>
  {% endif %}
  {{ entry.content|safe }}
{% endblock %}
