{% extends "layout_productgroups.html" %}
{% load i18n %}
{% load thumbnail %}
{% load markdown_deux_tags %}

{% block heading %}
  <h1>{{ entry.title }}</h1>
  <h4>
    <small>
      {{ entry.created|date:"j. N Y" }}{% if entry.author %}{% endif %}
      {% include 'core/edit_item.html' with model="news_entry" id=entry.id %}
    </small>
  </h4>
{% endblock %}

{% block content %}
  {% if entry.image %}
    <div id="news-detail-image">
      <img class="img-responsive" src="{{ entry.image|thumbnail_url:'news_detail' }}" alt="{{ entry.title }}-image">
    </div>
  {% endif %}

  {{ entry.content|safe|markdown }}

  {% if entry.attachment %}
    <div class="padding-top">
      <p>
        <i class="fa fa-download"></i> <a href="{{ entry.attachment.url }}">{{ entry.attachment.name|slice:"2:" }}</a>
      </p>
    </div>
  {% endif %}

{% endblock %}
