{% extends "layout_productgroups.html" %}
{% load i18n %}

{% load static %}
{% load thumbnail %}
{% load markdownify %}
{% load products_tags %}

{% block heading %}
  <h1>
    {{ group.name }}
  </h1>
{% endblock %}

{% block content %}
  {% include 'products/include_productheader.html' with group=group %}

  {% for blade in blades %}
    {% ifchanged blade.subcategory %}
      <h3 class="padding-bottom">{{ blade.subcategory }}</h3>
    {% endifchanged %}

    <div class="panel panel-default">
      <div class="panel-body">
        {% include 'products/include_blade_image.html' with image=blade.image %}

        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-2 col-xs-2">
                <img src="{% static 'img/other/shark_small_45w.png' %}" alt="">
              </div>
              <div class="col-md-10 col-xs-10">
                {{ blade.quality }}
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 col-xs-2">
                <img src="{% static 'img/other/tool_small_45w.png' %}" alt="">
              </div>
              <div class="col-md-10 col-xs-10 markdown-no-padding-left">
                {{ blade.description|markdownify }}
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <table class="table table-condensed table-striped-column table-hover">
              <thead>
              <th>
                {% trans "Bestell-Nr.:" %}
              </th>
              <th>
                {% trans "Zahnteilung" %}
              </th>
              <th>
                {% trans "Sägeblattlänge" %}
              </th>
              {% if blade.cutting_metal %}
                <th>
                  {% blocktrans %}Schnittbereich Metall{% endblocktrans %}
                </th>
              {% endif %}
              {% if blade.cutting_wood %}
                <th>
                  {% blocktrans %}Schnittbereich Holz{% endblocktrans %}
                </th>
              {% endif %}
              </thead>
              <tbody>
              <tr>
                <td class="text-orange-bold">
                  {{ blade.type }}
                </td>
                <td>
                  {{ blade.tooth_separation }} {% trans "ZpZ" %}
                </td>
                <td>
                  {{ blade.length }} {% trans "mm" %}
                </td>
                {% if blade.cutting_metal %}
                  <td>
                    {{ blade.cutting_metal }} {% trans "mm" %}
                  </td>
                {% endif %}
                {% if blade.cutting_wood %}
                  <td>
                    {{ blade.cutting_wood }} {% trans "mm" %}
                  </td>
                {% endif %}
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        {% include 'core/edit_item.html' with model="products_jigsawblade" id=blade.id %}
      </div>
    </div>

  {% empty %}
    <p>{% blocktrans %}Es ist ein Fehler aufgetreten. Bitte versuchen Sie es später erneut.{% endblocktrans %}</p>
  {% endfor %}

{% endblock %}
