{% extends "layout_productgroups.html" %}

{% load staticfiles %}
{% load thumbnail %}
{% load markdown_deux_tags %}
{% load products_tags %}
{% load i18n %}

{% block heading %}
  <h1>
    {{ group.name }}
  </h1>
{% endblock %}

{% block content %}
  {% include 'products/include_productheader.html' with group=group %}

  <p class="pull-right">
    <a class="btn btn-primary" role="button" href="{% url 'products:advices' slug=group.slug%}">
      {% trans "Zu unseren Empfehlungen" %}
    </a>
  </p>

  <h3>Material, Qualitäten und Einsatzbereiche</h3>
  <p>
    Präzision, das Resultat unserer massiven Deckelplatte, lange Lebensdauer und Laufruhe, hervorgerufen durch die
    variable Verzahnung mit ihrer optimalen Spanabfuhr, zeichnet unsere Bi-Metall-Lochsägen aus. Unsere feinverzahnten
    Lochsägen sind bestens für dünnwandige Materialien geeignet. Bei Mineral- und Verbundwerkstoffen erzielen unsere
    hartmetallbeschichteten Lochsägen beste Ergebnisse. Mit diesem Lieferprogramm bleiben keine Wünsche offen.
  </p>

  <div class="row well">
    <div class="col-md-8">
      <div>
        <img src="{% static 'img/other/shark_small_45w.png' %}" alt="">
        GUHEMA Bi-Co-lastic
        <span class="text-orange-bold">
          HSM...
        </span>
      </div>
      <div>
        <img src="{% static 'img/other/blade_small_45w.png' %}" alt="">
        Bi-Metall, mit HSS-Schneide aus M42 (Werkstoff-Nr. 1.3247)
      </div>
      <div>
        <img src="{% static 'img/other/tool_small_45w.png' %}" alt="">
        4/6 ZpZ das Allroundtalent
      </div>

      <div class="padding-top-05">
        <div>
          <img src="{% static 'img/other/shark_small_45w.png' %}" alt="">
          GUHEMA Bi-Co-lastic
          <span class="text-orange-bold">
            HSM...
          </span>
        </div>
        <div>
          <img src="{% static 'img/other/blade_small_45w.png' %}" alt="">
          Bi-Metall, mit HSS-Schneide aus M42 (Werkstoff-Nr. 1.3247)
        </div>
        <div>
          <img src="{% static 'img/other/tool_small_45w.png' %}" alt="">
          10 ZpZ für dünnwandiges Material
        </div>
      </div>

      <div class="padding-top-05">
        <div>
          <img src="{% static 'img/other/shark_small_45w.png' %}" alt="">
          GUHEMA HM-Granulat
          <span class="text-orange-bold">
            HSH...
          </span>
        </div>
        <div>
          <img src="{% static 'img/other/blade_small_45w.png' %}" alt="">
          Zähne mit Hartmetallgranulat beschichtet
        </div>
        <div>
          <img src="{% static 'img/other/tool_small_45w.png' %}" alt="">
          Für mineralische Werkstoffe
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <p class="alert bg-orange-lighter" style="margin-top: 21px">
        Der schnelle Weg zu unserer Artikel-Nr.<br>
        <span class="text-orange-bold">Qualität</span> + <span class="text-orange-bold">&Oslash;</span> + <span class="text-orange-bold">ZpZ</span><br>
        z.B.:
        <span class="text-orange-bold">
          HSM
        </span> + <span class="text-orange-bold">014</span> + <span class="text-orange-bold">V</span> = <span class="text-orange-bold">HSM014V</span>
      </p>
    </div>
  </div>

  <hr>

  <h3>Zentriereinheiten</h3>

  <div class="row">
    <div class="col-md-6">
      <table class="table table-condensed table-striped-column table-hover">
        <thead>
          <tr>
            <th>Aufnahmeschaft</th>
            <th>Lochsäge</th>
            <th width="20%">Bestell-Nr.</th>
          </tr>
        </thead>
        <tbody>
          {% for blade in blades %}
            {% if blade.saw_length == "14 - 30 mm" %}
              <tr>
                <td>{{ blade.mounting }}</td>
                <td>{{ blade.saw_length }}</td>
                <td>
                  <span class="text-orange-bold">
                    {{ blade.ordernr }}
                  </span>
                </td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <table class="table table-condensed table-striped-column table-hover">
        <thead>
          <tr>
            <th>Aufnahmeschaft</th>
            <th>Lochsäge</th>
            <th width="20%">Bestell-Nr.</th>
          </tr>
        </thead>
        <tbody>
          {% for blade in blades %}
            {% if blade.saw_length == "32 - 210 mm" %}
              <tr>
                <td>{{ blade.mounting }}</td>
                <td>{{ blade.saw_length }}</td>
                <td>
                  <span class="text-orange-bold">
                    {{ blade.ordernr }}
                  </span>
                </td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <h3>Zubehör / Ersatzteile</h3>

  <div class="row">
    <div class="col-md-6">
      <table class="table table-condensed table-striped-column table-hover">
        <thead>
          <tr>
            <th>Beschreibung</th>
            <th width="20%">Bestell-Nr.</th>
          </tr>
        </thead>
        <tbody>
          {% for blade in blades %}
            {% if blade.category == "Zubehör / Ersatzteile" %}
              <tr>
                <td>{{ blade.description }}</td>
                <td>
                  <span class="text-orange-bold">
                    {{ blade.ordernr }}
                  </span>
                </td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <h3>Durchmesser</h3>

  <table id="products-sawblade-table" class="table table-condensed table-striped-column table-hover">
    <thead>
      <tr>
        <th class="text-center table-white-border-right table-no-bot-border">&Oslash;</th>
        <th class="text-center table-no-bot-border">GUHEMA Bi-Co-lastic</th>
        <th class="text-center table-no-bot-border">GUHEMA Bi-Co-lastic</th>
        <th class="text-center table-no-bot-border">HM-Granulat</th>
      </tr>
      <tr>
        <th class="text-center table-no-top-border table-white-border-right">in mm</th>
        <th class="text-center table-no-top-border">
          4/6 ZpZ
          <span class="text-orange">...V</span>
        </th>
        <th class="text-center table-no-top-border">
          10 ZpZ
          <span class="text-orange">...J</span>
        </th>
        <th class="text-center table-no-top-border">
          <span class="text-orange">...S</span>
        </th>
      </tr>
    </thead>
    <tbody>
    {% for diameter in other %}
      {% with diameter.blades.all as diameters %}
        <tr>
          <td class="table-white-border-right">{{ diameter }}</td>
            {% autoescape off %}
              {% show_diameters diameters %}
            {% endautoescape %}
        </tr>
      {% endwith %}
    {% endfor %}
    </tbody>
  </table>

  {% include 'products/include_available_teeth.html' %}

  {{ blades.14.diameter.all.1 }}
{% endblock %}