{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="../../favicon.ico">-->

    <title>GUHEMA GmbH & Co. KG</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="{% static 'assets/bootswatch/yeti.css' %}">

    <!-- Fontawesome CSS-->
    <link rel="stylesheet" href="{% static 'assets/font-awesome/css/font-awesome.min.css' %}">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="{% static 'assets/jquery/jquery.min.js' %}"></script>

    <!-- Own Styles -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
  </head>

  <body role="document">
    <!-- Fixed navbar -->
    <nav class="navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'index' %}">{% trans "Home" %}</a></li>
            <li><a href="{% url 'company' %}">{% trans "Unternehmen" %}</a></li>
            <li><a href="{% url 'products:index' %}">{% trans "Produkte" %}</a></li>
            <li><a href="{% url 'downloads:index' %}">{% trans "Kataloge" %}</a></li>
            <li><a href="{% url 'fairs:index' %}">{% trans "Messen" %}</a></li>
            <li><a href="{% url 'news:overview' %}">{% trans "News" %}</a></li>
            <li><a href="{% url 'contact:index' %}">{% trans "Kontakt" %}</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <a href="{% url 'index' %}">
              <img id="logo" src="{% static 'img/logo/guhema80px.png' %}">
            </a>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div id="main">
      <div id="header-img-wrapper">
        <div class="container">
          {% block headerimg %}{% endblock %}
        </div>
      </div>

      <div class="container">
        {% block heading %}{% endblock %}
      </div>

      <div class="container padding-bottom" role="main">
        {% block content %}{% endblock %}
      </div>
    </div>

    {% if request.path == "/" %}
      <div class="blue-div">
        <div class="container">
          {% include 'productgroups.html' %}
          <div id="footer-line"></div>
        </div>
      </div>
    {% endif %}

    <div id="footer-wrapper">
      <div id="footer">
        <div id="footer-text" class="container">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
              &copy; {% now "Y" %} GUHEMA GmbH & Co. KG, <a href="mailto:info@guhema.com">info@guhema.com</a>, <a href="tel:+49 2191 8867 0">+49 2191 8867 0</a>
            </div>
            <div id="footer-kontakt-line" class="col-md-4 col-sm-6 col-xs-6 text-right">
              <a href="{% url 'contact:index' %}">{% trans "Kontakt" %}</a> | <a href="{% url 'datenschutz' %}">{% trans "Datenschutz" %}</a> | <a href="{% url 'impressum' %}">{% trans "Impressum" %}</a>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-6">
              {% get_language_info_list for LANGUAGES as languages %}
              <form action="{% url "set_language" %}" method="post" class="navbar-form navbar-right">
                {% csrf_token %}
                <div class="form-group">
                  <select name="language" class="form-control" onchange="this.form.submit()">
                  {% for language in languages %}
                  <option value="{{ language.code }}"
                      {% if language.code == LANGUAGE_CODE %}selected="selected"{% endif %}>
                      {{ language.name_local }}
                  </option>
                  {% endfor %}
                  </select>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
  </body>
</html>
