{% extends "layout_productgroups.html" %}
{% load i18n %}

{% load staticfiles %}
{% load thumbnail %}

{% block heading %}
  <h1>
    GUHEMA
  </h1>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-8">
      <p>
        {% blocktrans %}Dieser Name steht für Made in Germany - und das seit dem Jahre 1867!{% endblocktrans %}
      </p>
      <p>
        {% blocktrans %}Familientradition in der 5. Generation, langjährige Erfahrung, permanente Forschung und
          Entwicklung sowie fundiertes Spezialwissen stellen wir Ihnen zur Verfügung.{% endblocktrans %}
      </p>
      <p>
        {% blocktrans %}Mit unserer schlanken Organisation können wir jederzeit schnell auf Ihre individuellen Wünsche
          reagieren.{% endblocktrans %}
      </p>
      <p>
        {% blocktrans %}Unsere Unternehmensabläufe sind seit 1997 zertifiziert und entsprechen der Norm nach DIN EN ISO
          9001.{% endblocktrans %}
      </p>

      <p>
        {% blocktrans %}Also: Wenn Sie sich für ein GUHEMA-Produkt entscheiden, erhalten Sie ein Metallsägeblatt in
          Perfektion.{% endblocktrans %}
      </p>
    </div>
    <div class="col-md-3">
      <a href="{% static 'img/other/sirachskotten.gif' %}">
        <img src="{% static 'img/other/sirachskotten.gif' %}" class="img-responsive" alt="Sirachskotten">
      </a>
      <p>
        <strong>{% blocktrans %}Gründung 1867{% endblocktrans %}</strong>
      </p>
      <p>
        {% blocktrans %}Der "Sirachskotten" , Standort des Unternehmens bis 1900.{% endblocktrans %}
      </p>
    </div>
  </div>

  <div class="row padding-top">
    <div class="col-md-3">
      <a href="{% static 'other/din_zertifikat_de.pdf' %}">
        <img src="{% static 'img/other/din_zertifikat_de.png' %}" class="img-responsive" alt="DIN Zertifikat">
      </a>
      <p>
        <strong>Zertifizierte Qualität nach DIN EN ISO 9001:2015</strong>
      </p>
    </div>
    <div class="col-md-offset-1 col-md-3">
      <a href="{% static 'other/din_zertifikat_en.pdf' %}">
        <img src="{% static 'img/other/din_zertifikat_en.png' %}" class="img-responsive" alt="DIN Zertifikat">
      </a>
      <p>
        <strong>Certificate of Approval ISO 9001:2015</strong>
      </p>
    </div>
    <div class="col-md-offset-1 col-md-3">
      <a href="{% static 'other/din_zertifikat_ru.pdf' %}">
        <img src="{% static 'img/other/din_zertifikat_ru.png' %}" class="img-responsive" alt="DIN Zertifikat">
      </a>
      <p>
        <strong>Сертификат Соответствия ISO 9001:2015</strong>
      </p>
    </div>
  </div>
{% endblock %}
