{% extends "base.html" %}

{% load staticfiles %}
{% load thumbnail %}

{% block headerimg %}
  <div id="header-img-text-wrapper">
    <img src="{% static 'img/header/header002.jpg' %}" alt="">
    <div id="header-text">
      <h2>METALLSÄGEBLÄTTER IN PERFEKTION</h2>
      <p>
        Entdecken Sie unsere Produkte!
      </p>
    </div>
  </div>
{% endblock %}

{% block heading %}
  {% comment %}<img src="{% static 'img/logo/guhema80px.png' %}" class="img-responsive" alt=""> {% endcomment %}
  <h1>Qualität die Vertrauen schafft<br><small>GUHEMA STEHT FÜR MADE IN GERMANY - UND DAS SEIT DEM JAHR 1867!</small></h1>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-8">
      <p>
        <strong>
          Familientradition in der 5. Generation, langjährige Erfahrung, permanente Forschung
          und Entwicklung sowie fundiertes Spezialwissen stellen wir Ihnen zur Verfügung.
        </strong>
      </p>
      <p>
        Mit unserer schlanken Organisation können wir jederzeit schnell auf Ihre individuellen
        Wünsche reagieren.
      </p>
      <p>
        Unsere Unternehmensabläufe sind seit 1997 zertifiziert
        und entsprechen der Norm nach DIN EN ISO 9001.
      </p>
      <p>
        Also: Wenn Sie sich für ein GUHEMA-Produkt entscheiden,
        erhalten Sie ein Metallsägeblatt in Perfektion.
      </p>
      <p>
        <a href="{% url 'products:index' %}">
          <button type="button" class="btn text-normal">Zu unseren Produkten &rsaquo;</button>
        </a>
      </p>
    </div>
  </div>

  {# News Section #}
  <h2 style="padding-top: 1em;">News</h2>
  {% include 'news/inc_overview.html' with posts=posts %}
{% endblock %}
