{% extends "base.html" %}
{% load i18n %}

{% load static %}
{% load thumbnail %}

{% block headerimg %}
  <div id="header-img-text-wrapper">
    <img src="{% static 'img/header/header002.jpg' %}" alt="">
    <div id="header-text" class="hidden-xs hidden-sm">
      <h2>{% blocktrans %}METALLSÄGEBLÄTTER IN PERFEKTION{% endblocktrans %}</h2>
      <p>
        {% blocktrans %}Entdecken Sie unsere Produkte!{% endblocktrans %}
      </p>
    </div>
  </div>
{% endblock %}

{% block heading %}
  <h1>
    {% blocktrans %}Qualität die Vertrauen schafft{% endblocktrans %}<br>
    <small>{% blocktrans %}GUHEMA STEHT FÜR MADE IN GERMANY - UND DAS SEIT DEM JAHR 1867!{% endblocktrans %}</small>
  </h1>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-8">
      <p>
        <strong>
          {% blocktrans %}Familientradition in der 5. Generation, langjährige Erfahrung, permanente Forschung und
            Entwicklung sowie fundiertes Spezialwissen stellen wir Ihnen zur Verfügung.{% endblocktrans %}
        </strong>
      </p>
      <p>
        {% blocktrans %}Mit unserer schlanken Organisation können wir jederzeit schnell auf Ihre individuellen Wünsche
          reagieren.{% endblocktrans %}
      </p>
      <p>
        {% blocktrans %}Unsere Unternehmensabläufe sind seit 1997 zertifiziert und entsprechen der Norm nach DIN EN ISO
          9001.{% endblocktrans %}
      </p>
      <p>
        {% blocktrans %}Also: Wenn Sie sich für ein GUHEMA-Produkt entscheiden, erhalten Sie ein Metallsägeblatt in
          Perfektion.{% endblocktrans %}
      </p>
      <p>
        <a href="{% url 'products:index' %}">
          <button type="button" class="btn text-normal">{% blocktrans %}Zu unseren Produkten{% endblocktrans %}
            &rsaquo;
          </button>
        </a>
      </p>
    </div>
  </div>

  {# News Section #}
  {% comment %}<h2 style="padding-top: 1em;">{% trans "News" %}</h2>
  {% include 'news/inc_overview.html' with posts=posts %}{% endcomment %}
{% endblock %}
