{% extends "base.html" %}

{% load staticfiles %}
{% load thumbnail %}

{% block headerimg %}
  <img src="{% static 'img/header/header001.jpg' %}" alt="">
{% endblock %}

{% block heading %}
  {% comment %}<img src="{% static 'img/logo/guhema80px.png' %}" class="img-responsive" alt=""> {% endcomment %}
  <h1>Qualität die Vertrauen schafft<br><small>GUHEMA STEHT FÜR MADE IN GERMANY - UND DAS SEIT DEM JAHR 1867!</small></h1>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-8">
      <p>
        <strong>
          Familientradition in der 5. Generation, langjährige Erfahrung, permanente Forschung
          und Entwicklung sowie fundiertes Spezialwissen stellen wir Ihnen zur Verfügung.
        </strong>
      </p>
      <p>
        Mit unserer schlanken Organisation können wir jederzeit schnell auf Ihre individuellen
        Wünsche reagieren.
      </p>
      <p>
        Unsere Unternehmensabläufe sind seit 1997 zertifiziert
        und entsprechen der Norm nach DIN EN ISO 9001.
      </p>
      <p>
        Also: Wenn Sie sich für ein GUHEMA-Produkt entscheiden,
        erhalten Sie ein Metallsägeblatt in Perfektion.
      </p>
      <p>
        <button type="button" class="btn">QUALITÄTSANSPRUCH &rsaquo;</button>
      </p>
    </div>
  </div>

  {# News Section #}
  <h2 style="padding-top: 1em;">News</h2>
  <div class="row">
    {% for post in posts %}
      <div class="col-md-4">
        <div id="news-header">
          <div id="news-image">
            {% if post.image %}
              <img src="{{ post.image|thumbnail_url:'news_front' }}" alt="{{ post.title }}" />
            {% else %}
              <img src="{% static 'img/news/news_placeholder.jpg' %}" alt="{{ post.title }}">
            {% endif %}
          </div>
          <div class="row">
            <div class="col-md-2">
              <div id="cube">
                <div id="cube-content">
                  <strong>{{ post.created|date:"N" }}</strong><br>
                  {{ post.created|date:"Y" }}
                </div>
              </div>
            </div>
            <div id="news-title" class="col-md-9">
              <h4>
                {{ post.title }}
              </h4>
            </div>
          </div>
        </div>
        <div id="news-content">
          <p>
            {{ post.content|safe }}
          </p>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
