{% load staticfiles %}

<div class="product-groups-wrapper">
  <div id="product-groups">
    <div class="row">
      <div class="col-md-4">
        <h3>PRODUKTGRUPPEN</h3>
      </div>
      <div class="col-md-8 text-right">
        <a href="{% url 'products:list' slug='maschinensageblatter' %}">
          <img class="img-product-groups" src="{% static 'img/produktbilder/saege001.png' %}" alt="saege001">
        </a>
        <a href="{% url 'products:list' slug='metallstichsageblatter' %}">
          <img class="img-product-groups" src="{% static 'img/produktbilder/saege002.png' %}" alt="saege002">
        </a>
        <a href="{% url 'products:list' slug='sabel-und-spezialsabelsageblatter' %}">
          <img class="img-product-groups" src="{% static 'img/produktbilder/saege003.png' %}" alt="saege003">
        </a>
        <a href="{% url 'products:list' slug='metallhandsageblatter' %}">
          <img class="img-product-groups" src="{% static 'img/produktbilder/saege004.png' %}" alt="saege004">
        </a>
        <a href="{% url 'products:list' slug='lochsagen' %}">
          <img class="img-product-groups" src="{% static 'img/produktbilder/saege005.png' %}" alt="saege005">
        </a>
        <a href="{% url 'products:list' slug='metallsagebander' %}">
          <img class="img-product-groups" src="{% static 'img/produktbilder/saege006.png' %}" alt="saege006">
        </a>
        <a href="{% url 'products:list' slug='pendelhubstichsageblatter' %}">
          <img class="img-product-groups" src="{% static 'img/produktbilder/saege007.png' %}" alt="saege007">
        </a>
        <a href="{% url 'products:list' slug='metallkreissageblatter' %}">
          <img class="img-product-groups" src="{% static 'img/produktbilder/saege008.png' %}" alt="saege008">
        </a>
      </div>
    </div>
  </div>
</div>