{% load staticfiles %}

<div id="product-groups">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>PRODUKTGRUPPEN</h3>
      </div>
      <div class="col-md-6">
        <img class="img-product-groups" src="{% static 'img/produktbilder/saege001.png' %}" alt="saege001">
        <img class="img-product-groups" src="{% static 'img/produktbilder/saege002.png' %}" alt="saege002">
        <img class="img-product-groups" src="{% static 'img/produktbilder/saege003.png' %}" alt="saege003">
        <img class="img-product-groups" src="{% static 'img/produktbilder/saege004.png' %}" alt="saege004">
        <img class="img-product-groups" src="{% static 'img/produktbilder/saege005.png' %}" alt="saege005">
        <img class="img-product-groups" src="{% static 'img/produktbilder/saege006.png' %}" alt="saege006">
        <img class="img-product-groups" src="{% static 'img/produktbilder/saege007.png' %}" alt="saege007">
        <img class="img-product-groups" src="{% static 'img/produktbilder/saege008.png' %}" alt="saege008">
      </div>
    </div>
  </div>
</div>