{% extends "layout_productgroups.html" %}
{% load i18n %}

{% load staticfiles %}
{% load bootstrap_tags %}

{% block heading %}
  <h1>{% trans "Kontakt" %}</h1>
{% endblock heading %}

{% block content %}

  <p>
    {% blocktrans %}Hier haben Sie die Möglichkeit uns eine E-Mail zu senden. Bitte füllen Sie dafür alle Felder aus. Wir werden uns dann bei Ihnen melden!{% endblocktrans %}
  </p>

  {% trans "Abschicken" as form_value %}
  <form action="" method="post">
    {% csrf_token %}
    {{ form|as_bootstrap }}
    <input type="submit" value="{{ form_value }}" class="btn btn-default">
  </form>
{% endblock content %}