{% load thumbnail %}

{% if image %}
  <div class="padding-bottom padding-top">
    {% if slug %}
      <a href="{% url 'products:details_by_id' slug=slug id=id %}">
    {% else %}
      <a href="{{ image.url }}">
    {% endif %}
      {% if alias %}
        <img class="img-responsive" src="{{ image|thumbnail_url:alias }}" alt="blade-image">
      {% else %}
        <img class="img-responsive" src="{{ image|thumbnail_url:'blade_image' }}" alt="blade-image">
      {% endif %}
    </a>
  </div>
{% endif %}