{% extends "layout_productgroups.html" %}

{% load staticfiles %}
{% load thumbnail %}

{% block heading %}
  <h1>Produkte</h1>
{% endblock %}

{% block content %}
  <div class="row products-index">
    <div class="col-md-3">
      <a href="{% url 'products:sawblades' %}">
        <img src="{% static 'img/produktbilder/maschinensaege.jpg' %}" class="img-responsive"/>
      </a>
    </div>
    <div class="col-md-offset-1 col-md-7">
      <h3 class="products-index-h3">
        <a href="{% url 'products:sawblades' %}">Maschinensägeblätter</a>
      </h3>
      <p>
        Wir geben Ihnen die Garantie, dass Sie mit einem Sägeblatt, das den Namen ­GUHEMA
        trägt, ein Spitzenprodukt der Zerspanungstechnologie erwerben. Der adäquate
        Nutzen für Ihren Produktionsablauf und die hohe Lebensdauer von Sägeblatt und
        Maschine wird auch im permanenten, harten Dauereinsatz gewährleistet.
      </p>
      <p>
        <a href="{% url 'products:sawblades' %}">
          Zu den Maschinensägeblättern
        </a>
      </p>
    </div>
  </div>

  <div class="row products-index">
    <div class="col-md-3">
      <img src="{% static 'img/produktbilder/metallstichsaege.jpg' %}" class="img-responsive"/>
    </div>
    <div class="col-md-offset-1 col-md-7">
      <h3 class="products-index-h3">
        Metallstichsägeblätter
      </h3>
      <p>
        GUHEMA-Metallstichsägeblätter, produziert
        für höchste Schnittleistung, für alle gängigen
        Druckluft-, Hydraulik- und Elektro-Stichsägemaschinen.
        Neben unseren Standardprodukten fertigen wir ebenfalls auf Kundenwunsch
        Spezialabmessungen an.
      </p>
    </div>
  </div>

  <div class="row products-index">
    <div class="col-md-3">
      <img src="{% static 'img/produktbilder/saebelsaege.jpg' %}" class="img-responsive"/>
    </div>
    <div class="col-md-offset-1 col-md-7">
      <h3 class="products-index-h3">
        Säbel- und Spezialsäbelsägeblätter
      </h3>
      <p>
        Ganz gleichgültig, welchen Maschinensägen-Typ
        Sie haben, welches Material Sie trennen wollen, wie
        das Profil aussieht oder ob Sie mit der Säge "die Kurve
        kriegen müssen" - GUHEMA – Säbel- und Spezialsäbelsägeblätter erfüllen alle Anforderungen, die Sie
        stellen!
      </p>
    </div>
  </div>

  <div class="row products-index">
    <div class="col-md-3">
      <img src="{% static 'img/produktbilder/metallhandsaege.jpg' %}" class="img-responsive"/>
    </div>
    <div class="col-md-offset-1 col-md-7">
      <h3 class="products-index-h3">
        Metallhandsägeblätter
      </h3>
      <p>
        Mit Präzision, Zuverlässigkeit und hoher
        Bruchsicherheit stehen GUHEMA-Metallhandsägeblätter für höchste Qualität -
        eben MADE IN GERMANY.
      </p>
    </div>
  </div>

  <div class="row products-index">
    <div class="col-md-3">
      <img src="{% static 'img/produktbilder/lochsaegen.jpg' %}" class="img-responsive"/>
    </div>
    <div class="col-md-offset-1 col-md-7">
      <h3 class="products-index-h3">
        Lochsägen
      </h3>
      <p>
        Stahl, Holz, Aluminium, Guss, Kunst-
        stoffe, Buntmetalle, rostfreier Stahl ab
        1 mm oder Faserplatten können Sie mit
        unseren Sägen löchern, um sich den perfekt runden "Durchblick" zu verschaffen.
        Unser Lieferprogramm unterstützt Sie
        standardmäßig von 14 bis 210 mm Durchmesser.
      </p>
    </div>
  </div>

  <div class="row products-index">
    <div class="col-md-3">
      <img src="{% static 'img/produktbilder/metallsaege.jpg' %}" class="img-responsive"/>
    </div>
    <div class="col-md-offset-1 col-md-7">
      <h3 class="products-index-h3">
        Metallsägebänder
      </h3>
      <p>
        Wir geben Ihnen die Garantie, dass Sie mit
        einem Sägeband, das den Namen GUHEMA
        trägt, ein Spitzenprodukt der Zerspanungstechnologie er­werben. Den adäquaten Nutzen
        für Ihren Produktionsablauf und die hohe Lebensdauer von Sägeband und Maschine wird
        auch im permanenten, harten Dauereinsatz
        gewährleistet.
      </p>
    </div>
  </div>

  <div class="row products-index">
    <div class="col-md-3">
      <img src="{% static 'img/produktbilder/pendelhubstichsaege.jpg' %}" class="img-responsive"/>
    </div>
    <div class="col-md-offset-1 col-md-7">
      <h3 class="products-index-h3">
        Pendelhubstichsägeblätter
      </h3>
      <p>
        Ganz gleichgültig, welches Material Sie trennen wollen, wie das Profil aussieht oder ob
        Sie mit der Säge "die Kurve kriegen müssen" -
        unsere Stichsägeblätter erfüllen alle Anforderungen, die Sie stellen!
      </p>
    </div>
  </div>

  <div class="row products-index">
    <div class="col-md-3">
      <img src="{% static 'img/produktbilder/metallkreissaege.jpg' %}" class="img-responsive"/>
    </div>
    <div class="col-md-offset-1 col-md-7">
      <h3 class="products-index-h3">
        Metallkreissägeblätter
      </h3>
      <p>
        Unsere Metallkreissägeblätter für Kreissägemaschinen (Typensägen) sind allesamt dampf­
        angelassen. Diese Ausführung optimiert den
        Trennvorgang durch noch höhere Schnittleistung, schützt gegen Spanaufschweißung
        und ermöglicht eine bessere Aufnahme des
        Kühl- und Schmiermittels.
      </p>
    </div>
  </div>
{% endblock %}
