{% extends 'layout_productgroups.html' %}

{% load i18n %}
{% load staticfiles %}
{% load thumbnail %}

{% block heading %}
  <h1>{% trans "Metallsägebänder" %}</h1>
{% endblock %}

{% block content %}
  {% get_current_language as lang %}
  <section>
    <p>
      {% blocktrans %}Wir produzieren für Sie Metallsägebänder in drei Ausführungen. Die “Kohlenstoff“-Qualität für die Werkstatt, die Bi-Metall-Qualität für
        die Produktion und Werkstatt und die Hartmetall-Ausführung für Spezialanwendungen.{% endblocktrans %}
    </p>
    <p>
      <strong>
        {% trans "Getreu dem Motto:" %}<br>
        {% trans "Wir liefern Ihnen die Metallsägebänder, die Sie zum optimalen Sägeergebnis führen." %}
      </strong>
    </p>
  </section>

  <section>
    <h3>
      {% trans "Wenn Sie optimal trennen wollen, dann sollten Sie uns auf den Zahn fühlen" %}
    </h3>
    <p>
      {% trans "Damit jede Ihrer Anforderungen erfüllt wird, haben wir den Materialqualitäten unserer Sägebänder die notwendige Auswahl an Zahntypen bereitgestellt:" %}
    </p>
    <div class="row padding-bottom">
      <div class="col-md-6">
        <strong>{% trans "Standardzahn" %} (S)</strong>
        <p>
          {% blocktrans %}Diese Zahngeometrie finden Sie bei unseren Qualitäten No. 20
GUHEMA Kristall, No. 22 GUHEMA Kristall plus und No. 35
GUHEMA Bi-Co-lastic. Diese Geometrie eignet sich bestens für
den allgemeinen, universellen Einsatz.{% endblocktrans %}
        </p>
      </div>
      <div class="col-md-6">
        {# missing image #}
      </div>
    </div>
    <div class="row padding-bottom">
      <div class="col-md-6">
        <strong>{% trans "Klauenzahn" %} (K)</strong>
        <p>
          {% blocktrans %}Diese Zahngeometrie ist für die Qualitäten No. 20 GUHEMA
Kristall, No. 22 GUHEMA Kristall plus und No. 35 GUHEMA
Bi-Co-lastic lieferbar. Die Einsatzgebiete dieser Geometrie sind die
austenitischen und rostfreien Stähle.{% endblocktrans %}
        </p>
      </div>
      <div class="col-md-6">
        {# missing image #}
      </div>
    </div>
    <div class="row padding-bottom">
      <div class="col-md-6">
        <strong>{% trans "Variable Verzahnung" %} (V)</strong>
        <p>
          {% blocktrans %}Die variable Verzahnung erhalten Sie in der Qualität No. 35V
GUHEMA Bi-Co-lastic. Diese V-Zahnung führt zu einem besonders
schwingungsarmen Schnitt und ist sowohl für Bündelschnitte, als
auch für Vollmaterialien hervorragend geeignet. Da das Einsatzgebiet
der Metallsägebänder mit V-Zahnung erheblich größer wird, entfallen
die sonst notwendigen Bandwechselzeiten und somit die Ausfallzeiten
der Maschine. Der gesenkte Geräuschpegel am Arbeitsplatz ist ein
von der Belegschaft oft gelobter Begleiteffekt der variablen Verzahnung.{% endblocktrans %}
        </p>
      </div>
      <div class="col-md-6">
        {# missing image #}
      </div>
    </div>
    <div class="row padding-bottom">
      <div class="col-md-6">
        <strong>{% trans "Variable Positivverzahnung" %} (VP)</strong>
        <p>
          {% blocktrans %}Die VP-Verzahnung erhalten Sie in den Qualitäten No. 35VP GUHEMA
Bi-Co-lastic und No. 36VP GUHEMA Bi-Co-lastic plus. Diese variable
Positivverzahnung erzielt höchste Zerspanungsleistungen bei einer
langen Lebensdauer. Zerspanungstechnologie auf höchstem Niveau.{% endblocktrans %}
        </p>
      </div>
      <div class="col-md-6">
        {# missing image #}
      </div>
    </div>
    <div class="row padding-bottom">
      <div class="col-md-6">
        <strong>{% trans "Variable Positivverzahnung mit verstärktem Zahnrücken" %} (VP-D)</strong>
        <p>
          {% blocktrans %}Die variable Spezialzahnform erhalten Sie in den Qualitäten
No. 33VP-D GUHEMA Bi-Co-lastic und No. 34VP-D GUHEMA
Bi-Co-lastic.{% endblocktrans %}
          <br>
          {% blocktrans %}Das Zahndesign mit dem extra starken Zahnrücken ist speziell für
Bündelschnitte und Profil- und Trägerschnitte entwickelt worden. Der
positive Spanwinkel trägt zur optimalen Spanbildung und somit
zum sauberen Schnittverlauf bei.{% endblocktrans %}
        </p>
      </div>
      <div class="col-md-6">
        {# missing image #}
      </div>
    </div>
    <div class="row padding-bottom">
      <div class="col-md-6">
        <strong>{% trans "Hartmetall-Granulat" %}</strong>
        <p>
          {% blocktrans %}Die Hartmetallgranulatschneide erhalten Sie bei der No. 40 GUHEMA
HM-Granulat als durchgehende Variante und bei der No. 41 GUHEMA
HM-Granulat als unterbrochene Ausführung. Diese Verzahnung punktet dort,
wo übliche Sägezähne von Nachteil sind.{% endblocktrans %}
        </p>
      </div>
      <div class="col-md-6">
        {# missing image #}
      </div>
    </div>
    <div class="row padding-bottom">
      <div class="col-md-6">
        <strong>{% trans "Positivverzahnung" %} (P-HM)</strong>
        <p>
          {% blocktrans %}Die Positivverzahnung erhalten Sie in den Qualitäten No. 44P GUHEMA
HM-Zähne und 45P GUHEMA HM-Zähne. Diese Verzahnung ist für den Über-
gang in die Hartmetallklasse entwickelt worden. Abrasive Werkstücke sind
hiermit trennbar, wie auch versandete Gusswerkstücke.{% endblocktrans %}
        </p>
      </div>
      <div class="col-md-6">
        {# missing image #}
      </div>
    </div>
    <div class="row padding-bottom">
      <div class="col-md-6">
        <strong>{% trans "Variable Positivverzahnung" %} (VP-HM)</strong>
        <p>
          {% blocktrans %}Die variable Positivverzahnung erhalten Sie in der Qualität No. 46VP GUHEMA
HM-Zähne. Die variable Zahnabfolge ist mit geschliffenen Hartmetallzähnen
aufgebaut, die mit Vor- und Nachschneidern versehen ist. Diese Verzahnung
erzielt höchste Schnittgeschwindigkeit sowie höchste Standzeit.{% endblocktrans %}
        </p>
      </div>
      <div class="col-md-6">
        {# missing image #}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <strong>{% trans "Variable Negativverzahnung" %} (VN-HM)</strong>
        <p>
          {% blocktrans %}Die variable Negativverzahnung erhalten Sie in der Qualität No. 47VN GUHEMA
HM-Zähne. Die negativ geschliffenen Hartmetallzähne ermöglichen das Zer-
spanen von extrem harten Werkstücken. Diese Spezialverzahnung findet zum
Beispiel Ihren Einsatz bei randschichtgehärteten Wellen.{% endblocktrans %}
        </p>
      </div>
      <div class="col-md-6">
        {# missing image #}
      </div>
    </div>
  </section>

  <section>
    <h3>{% trans "Welche Sägebandbreite benötige ich?" %}</h3>
    <p>
      {% blocktrans %}Grundsätzlich sollten Sie die größtmögliche Bandbreite wählen, die für die Maschine zulässig ist. Der Vorteil ist die hohe Stabilität des
Bandes bei hohen Vorschubkräften. Beim Einsatz von Metallsägebändern für Konturenschnitte ist die Breite des Sägebandes von dem
kleinsten zu schneidenden Radius abhängig. Die folgende Grafik gibt Ihnen optische Hilfestellung bei der Bestimmung der Sägeblattbreite.{% endblocktrans %}
    </p>
    {% include 'products/includes/image_multilang.html' with path_to_image='img/produktdetails/saegebandbreite_' extension='.png' alt_text='Sägebandbreite' width='700px'%}
  </section>

  <section>
    <h3>{% trans "Unsere Empfehlungen für langen Sägespaß von Anfang an!" %}</h3>
    <p>
      {% blocktrans %}Für den Einsatz von GUHEMA-Metallsägebändern empfehlen wir die wenigen, aber wichtigen Spielregeln zwischen Werkstück,
Maschine und Sägeband zu beachten, um optimale Schnittergebnisse zu erhalten:{% endblocktrans %}
    </p>

    <section>
      <h4>{% trans "Einfahren von Bi-Metall Sägebändern" %}</h4>
      <p>
        {% trans "Stellen Sie die empfohlene Schnittgeschwindigkeit ein und reduzieren Sie in der Anfangszeit die Vorschubgeschwindigkeit auf 50% des empfohlenen Vorschubs." %}
      </p>
      <ul>
        <li>{% trans "Bei großen Querschnitten halten Sie dies für 15 min bei." %}</li>
        <li>{% trans "Bei kleinen Werkstückabmessungen sollten Sie um die 300 cm2 mit dieser Einstellung zerspanen." %}</li>
      </ul>
      <p>
        {% trans "Bei Schwingungsgeräuschen oder Vibrationen an der Maschine reduzieren Sie die Schnittgeschwindigkeit." %}
      </p>
      <p>
        {% trans "Nach dem Einfahren erhöhen Sie langsam die Vorschubgeschwindigkeit auf die empfohlenen Schnittparameter." %}
      </p>
      <p>
        {% trans "Das Einfahren des Sägebandes führt zu einer optimalen Schneidkantenausbildung, bei der die Kantenradien auf ein Minimum reduziert werden, wodurch die Zahngeometrie optimal ausgebildet wird." %}
      </p>
    </section>

    <section>
      <h4>{% trans "Einfahren von Hartmetallsägebändern" %}</h4>
      <p>
        {% trans "Stellen Sie dazu die Schnittgeschwindigkeit auf 75% der empfohlenen Geschwindigkeit ein und reduzieren Sie die Vorschubgeschwindigkeit um ca. 50% des empfohlenen Vorschubs." %}
      </p>
      <ul>
        <li>{% trans "Bei großen Querschnitten halten Sie dies für 15 min bei." %}</li>
        <li>{% trans "Bei kleinen Werkstückabmessungen sollten Sie um die 300 cm<sup>2</sup> mit dieser Einstellung zerspanen." %}</li>
      </ul>
      <p>
        {% trans "Vermeiden Sie unbedingt Schwingungsgeräusche oder Vibrationen an der Maschine durch weiteres Reduzieren der Schnittgeschwindigkeit." %}
      </p>
      <p>
        {% trans "Nach dem Einfahren erhöhen Sie zunächst langsam die Schnittgeschwindigkeit auf die empfohlene Geschwindigkeit. Jetzt erst erhöhen Sie die Vorschubgeschwindigkeit auf den empfohlenen Parameter." %}
      </p>
      <p>
        {% trans "Das Einfahren des Sägebandes führt zu einer optimalen Schneidkantenausbildung, bei der die Kantenradien auf ein Minimum reduziert werden, wodurch die Zahngeometrie optimal ausgebildet wird." %}
      </p>
    </section>
  </section>

  <section>
    <table id="products-sawblade-table" class="table table-condensed table-striped table-hover">
      <thead>
        <tr>
          <th>{% trans "Werkstoffgruppe" %}</th>
          <th>{% trans "Werkstoffe" %}</th>
          <th class="table-white-border-right">{% trans "Werkstoffnummer" %}</th>
          <th colspan="3">{% trans "Schnittgeschwindigkeit [m/min]" %}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td class="table-white-border-right">&nbsp;</td>
          <td>
            <strong>
              {% trans "Ausführung 20er-Serie" %}
            </strong>
          </td>
          <td>
            <strong>
               {% trans "Ausführung 30er-Serie" %}
            </strong>
          </td>
          <td>
            <strong>
               {% trans "Ausführung 40er-Serie" %}
            </strong>
          </td>
        </tr>

        <tr>
          <td>
            <strong>
              {% trans "Baustähle" %}
            </strong>
          </td>
          <td>ST 27</td>
          <td class="table-white-border-right">1.0037</td>
          <td>40-60</td>
          <td>50-90</td>
          <td>90-110</td>
        </tr>

        <tr>
          <td>
            <strong>
              {% trans "Baustähle" %}
            </strong>
          </td>
          <td>ST 52</td>
          <td class="table-white-border-right">1.005</td>
          <td>30-50</td>
          <td>60-80</td>
          <td>80-100</td>
        </tr>

        <tr>
          <td>
            <strong>
              {% trans "Einsatzstähle" %}
            </strong>
          </td>
          <td>C 10</td>
          <td class="table-white-border-right">1.0301</td>
          <td>40-60</td>
          <td>60-100</td>
          <td>80-120</td>
        </tr>

        <tr>
          <td>
            <strong>
              {% trans "Einsatzstähle" %}
            </strong>
          </td>
          <td>21 NiCrMo 2</td>
          <td class="table-white-border-right">1.6523</td>
          <td>30-50</td>
          <td>40-60</td>
          <td>55-85</td>
        </tr>

        <tr>
          <td>
            <strong>
              {% trans "Einsatzstähle" %}
            </strong>
          </td>
          <td>20 CrMo 5</td>
          <td class="table-white-border-right">1.7246</td>
          <td>30-40</td>
          <td>50-60</td>
          <td>70-100</td>
        </tr>

        <tr>
          <td>
            <strong>
              {% trans "Einsatzstähle" %}
            </strong>
          </td>
          <td>16 MnCr 5</td>
          <td class="table-white-border-right">1.7131</td>
          <td>30-40</td>
          <td>40-60</td>
          <td>70-90</td>
        </tr>

        <tr>
          <td>
            <strong>
              {% trans "Nitrirstähle" %}
            </strong>
          </td>
          <td>34 CrAlNi 7</td>
          <td class="table-white-border-right">1.8550</td>
          <td></td>
          <td>20-40</td>
          <td>30-50</td>
        </tr>

        <tr>
          <td>
            <strong>
              {% trans "Automatenstähle" %}
            </strong>
          </td>
          <td>9 S 20</td>
          <td class="table-white-border-right">1.0711</td>
          <td>50-70</td>
          <td>80-110</td>
          <td>100-150</td>
        </tr>

        <tr>
          <td>
            <strong>
              {% trans "Vergütungsstähle" %}
            </strong>
          </td>
          <td>C 45</td>
          <td class="table-white-border-right">1.0503</td>
          <td>40-60</td>
          <td>50-80</td>
          <td>80-110</td>
        </tr>

        <tr>
          <td>
            <strong>
              {% trans "Vergütungsstähle" %}
            </strong>
          </td>
          <td>42 CrMo 4</td>
          <td class="table-white-border-right">1.7225</td>
          <td>30-40</td>
          <td>40-60</td>
          <td>50-80</td>
        </tr>

        <tr>
          <td>
            <strong>
              {% trans "Vergütungsstähle" %}
            </strong>
          </td>
          <td>34 CrNiMo 6</td>
          <td class="table-white-border-right">1.6582</td>
          <td>30-40</td>
          <td>40-60</td>
          <td>50-80</td>
        </tr>

        <tr>
          <td>
            <strong>
              {% trans "Kugellagerstähle" %}
            </strong>
          </td>
          <td>100 Cr 6</td>
          <td class="table-white-border-right">1.3505</td>
          <td>20-30</td>
          <td>40-60</td>
          <td>70-90</td>
        </tr>

        <tr>
          <td>
            <strong>
              {% trans "Federstähle" %}
            </strong>
          </td>
          <td>50 CrV 4</td>
          <td class="table-white-border-right">1.8159</td>
          <td>30-40</td>
          <td>40-60</td>
          <td>50-80</td>
        </tr>

        <tr>
          <td>
            <strong>
              {% trans "unlegierte Werkzeugstähle" %}
            </strong>
          </td>
          <td>C 80 W 1</td>
          <td class="table-white-border-right">1.1525</td>
          <td>30-40</td>
          <td>40-60</td>
          <td>50-80</td>
        </tr>

        <tr>
          <td>
            <strong>
              {% trans "legierte Werkzeugstähle" %}
            </strong>
          </td>
          <td>X 210 Cr 12</td>
          <td class="table-white-border-right">1.2080</td>
          <td></td>
          <td>20-40</td>
          <td>30-50</td>
        </tr>

        <tr>
          <td>
            <strong>
              {% trans "legierte Werkzeugstähle" %}
            </strong>
          </td>
          <td>X 155 CrVMo 12 1</td>
          <td class="table-white-border-right">1.2379</td>
          <td>20-30</td>
          <td>20-40</td>
          <td>40-50</td>
        </tr>

        <tr>
          <td>
            <strong>
              {% trans "legierte Werkzeugstähle" %}
            </strong>
          </td>
          <td>90 MnCrV 8</td>
          <td class="table-white-border-right">1.2842</td>
          <td>20-30</td>
          <td>20-40</td>
          <td>50-60</td>
        </tr>

        <tr>
          <td>
            <strong>
              {% trans "Schnellarbeitsstähle" %}
            </strong>
          </td>
          <td>S 6-5-2</td>
          <td class="table-white-border-right">1.3343</td>
          <td></td>
          <td>30-50</td>
          <td>30-50</td>
        </tr>

        <tr>
          <td>
            <strong>
              {% trans "Schnellarbeitsstähle" %}
            </strong>
          </td>
          <td>S 18-0-1</td>
          <td class="table-white-border-right">1.3355</td>
          <td></td>
          <td>30-50</td>
          <td>30-50</td>
        </tr>

        <tr>
          <td>
            <strong>
              {% trans "Schnellarbeitsstähle" %}
            </strong>
          </td>
          <td>S 3-3-2</td>
          <td class="table-white-border-right">1.3333</td>
          <td></td>
          <td>30-50</td>
          <td>50-60</td>
        </tr>

        <tr>
          <td>
            <strong>
              {% trans "Schnellarbeitsstähle" %}
            </strong>
          </td>
          <td>S 2-10-1-8</td>
          <td class="table-white-border-right">1.3247</td>
          <td></td>
          <td>25-40</td>
          <td>40-50</td>
        </tr>

        <tr>
          <td>
            <strong>
              {% trans "Schnellarbeitsstähle" %}
            </strong>
          </td>
          <td>S 10-4-3-10</td>
          <td class="table-white-border-right">1.3207</td>
          <td></td>
          <td>25-40</td>
          <td>40-50</td>
        </tr>

        <tr>
          <td>
            <strong>
              {% trans "hochwarmfeste Stähle" %}
            </strong>
          </td>
          <td>X 12 CrCoNi 21 20</td>
          <td class="table-white-border-right">1.4971</td>
          <td></td>
          <td>15-25</td>
          <td>30-40</td>
        </tr>

        <tr>
          <td>
            <strong>
              {% trans "hochwarmfeste Stähle" %}
            </strong>
          </td>
          <td>X 20 CrMoWV 12 1</td>
          <td class="table-white-border-right">1.4935</td>
          <td></td>
          <td>30-40</td>
          <td>40-50</td>
        </tr>

        <tr>
          <td>
            <strong>
              {% trans "hitzebeständige Stähle" %}
            </strong>
          </td>
          <td>X 15 CrNiSi 25 20</td>
          <td class="table-white-border-right">1.4841</td>
          <td></td>
          <td>15-25</td>
          <td>30-40</td>
        </tr>

        <tr>
          <td>
            <strong>
              {% trans "hitzebeständige Stähle" %}
            </strong>
          </td>
          <td>X 12 NiCrSi 36 16</td>
          <td class="table-white-border-right">1.4864</td>
          <td></td>
          <td>15-25</td>
          <td>30-40</td>
        </tr>

        <tr>
          <td>
            <strong>
              {% trans "rost- und säurebeständige Stähle" %}
            </strong>
          </td>
          <td>X 5 CrNi 18 9</td>
          <td class="table-white-border-right">1.4301</td>
          <td></td>
          <td>20-40</td>
          <td>30-50</td>
        </tr>

        <tr>
          <td>
            <strong>
              {% trans "rost- und säurebeständige Stähle" %}
            </strong>
          </td>
          <td>X 10 CrNiMoTi 18 10</td>
          <td class="table-white-border-right">1.4571</td>
          <td></td>
          <td>20-40</td>
          <td>30-50</td>
        </tr>

        <tr>
          <td>
            <strong>
              {% trans "rost- und säurebeständige Stähle" %}
            </strong>
          </td>
          <td>X 20 Cr 13</td>
          <td class="table-white-border-right">1.4021</td>
          <td></td>
          <td>20-40</td>
          <td>30-50</td>
        </tr>

        <tr>
          <td>
            <strong>
              {% trans "vergütete Stähle" %}
            </strong>
          </td>
          <td>1000 - 1200 N/mm<sup>2</sup></td>
          <td class="table-white-border-right"></td>
          <td></td>
          <td>20-40</td>
          <td>30-50</td>
        </tr>

        <tr>
          <td>
            <strong>
              {% trans "vergütete Stähle" %}
            </strong>
          </td>
          <td>1200 - 1400 N/mm<sup>2</sup></td>
          <td class="table-white-border-right">1.0558</td>
          <td></td>
          <td>20-40</td>
          <td>30-50</td>
        </tr>

        <tr>
          <td>
            <strong>
              {% trans "vergütete Stähle" %}
            </strong>
          </td>
          <td>1400 - 1600 N/mm<sup>2</sup></td>
          <td class="table-white-border-right">0.6030</td>
          <td></td>
          <td>15-25</td>
          <td>25-35</td>
        </tr>

        <tr>
          <td>
            <strong>
              {% trans "Stahlguss" %}
            </strong>
          </td>
          <td>GS 38</td>
          <td class="table-white-border-right">1.0420</td>
          <td>30-40</td>
          <td>40-70</td>
          <td>70-90</td>
        </tr>

        <tr>
          <td>
            <strong>
              {% trans "Stahlguss" %}
            </strong>
          </td>
          <td>GS 60</td>
          <td class="table-white-border-right">1.0558</td>
          <td>30-40</td>
          <td>40-60</td>
          <td>70-90</td>
        </tr>

        <tr>
          <td>
            <strong>
              {% trans "Gusseisen" %}
            </strong>
          </td>
          <td>GG 30</td>
          <td class="table-white-border-right">0.6030</td>
          <td>30-40</td>
          <td>40-60</td>
          <td>50-80</td>
        </tr>

        <tr>
          <td>
            <strong>
              {% trans "Gusseisen" %}
            </strong>
          </td>
          <td>GGG 50</td>
          <td class="table-white-border-right">0.7050</td>
          <td>25-35</td>
          <td>30-50</td>
          <td>50-70</td>
        </tr>

        <tr>
          <td>
            <strong>
              {% trans "Aluminiumlegierung" %}
            </strong>
          </td>
          <td>Al Mg 3</td>
          <td class="table-white-border-right">3.3535</td>
          <td></td>
          <td>70-110</td>
          <td></td>
        </tr>

        <tr>
          <td>
            <strong>
              {% trans "Aluminiumlegierung" %}
            </strong>
          </td>
          <td>Al Mg 4,5 Mn</td>
          <td class="table-white-border-right">3.3547</td>
          <td></td>
          <td>70-110</td>
          <td></td>
        </tr>

        <tr>
          <td>
            <strong>
              {% trans "Zinnbronze" %}
            </strong>
          </td>
          <td>CuSn 6</td>
          <td class="table-white-border-right">2.1020</td>
          <td></td>
          <td>70-110</td>
          <td></td>
        </tr>

        <tr>
          <td>
            <strong>
              {% trans "Aluminiumbronze" %}
            </strong>
          </td>
          <td>CuAl 8</td>
          <td class="table-white-border-right">2.0920</td>
          <td></td>
          <td>40-70</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </section>
{% endblock %}
