{% extends 'layout_productgroups.html' %}
{% load i18n %}

{% load products_tags %}
{% load thumbnail %}
{% load markdown_deux_tags %}

{% block heading %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-7">
      <h1>
        {{ blade.quality }}<br>
        <small>{{ blade.name }}</small>
      </h1>
      {{ blade.description|markdown }}
    </div>
    <div class="col-md-5">
      <p class="alert bg-orange-lighter" style="margin-top: 21px">
        {% blocktrans %}Der schnelle Weg zu unserer Artikel-Nr.{% endblocktrans %}<br>
        <span class="text-orange-bold">Qualität</span> + <span class="text-orange-bold">{% blocktrans %}Kennziffer (Abmessung){% endblocktrans %}</span> + <span class="text-orange-bold">{% trans "ZpZ" %}</span><br>
        z.B.: <span class="text-orange-bold">{{ blade.type }}</span> + <span class="text-orange-bold">{{ indicators.0.value }}</span> + <span class="text-orange-bold">{% validBandsawIndicator indicators.0 %}</span> = <span class="text-orange-bold">{{ blade.type }}{{ indicators.0.value }}{% validBandsawIndicator indicators.0 %}</span><br>
        z.B.: <span class="text-orange-bold">{{ blade.type }}</span> + <span class="text-orange-bold">{{ indicators.0.value }}</span> + <span class="text-orange-bold">{% validBandsawIndicator indicators.0 %}</span> + <span class="text-orange-bold">Sägeblattlänge</span> = <span class="text-orange-bold">{{ blade.type }}{{ indicators.0.value }}{% validBandsawIndicator indicators.0 %}03800</span>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      {% include 'products/include_blade_image.html' with image=blade.image %}
    </div>
    <div class="col-md-6 text-right">
      {% if clamping.image %}
        <a href="{{ clamping.image.url }}">
          <img src="{{ clamping.image|thumbnail_url:'products_clamping' }}" alt="{{ blade.quality }}-clamping">
        </a>
      {% endif %}
    </div>
  </div>

  {% include 'core/edit_item.html' with model="products_bandsawblade" id=blade.id %}

  <table id="products-sawblade-table" class="table table-condensed table-striped-column table-hover">
    <thead>
      <tr>
        <th colspan="2" class="table-only-white-border-right"></th>
        <th colspan="14" class="table-no-border-color">ZpZ</th>
      </tr>
      <tr>
        <th class="table-white-border-right table-no-bot-border" width="15%">{% trans "Abmessungen" %}</th>
        <th class="table-white-border-right table-no-bot-border" width="15%">{% trans "Kennziffer" %}</th>
        {% if "A" in blade.cols %}
          <th class="table-no-bot-border">1,25</th>
        {% endif %}
        {% if "C" in blade.cols %}
          <th class="table-no-bot-border">2</th>
        {% endif %}
        {% if "E" in blade.cols %}
          <th class="table-no-bot-border">3</th>
        {% endif %}
        {% if "G" in blade.cols and "Grob" not in blade.cols %}
          <th class="table-no-bot-border">4</th>
        {% endif %}
        {% if "H" in blade.cols %}
          <th class="table-no-bot-border">6</th>
        {% endif %}
        {% if "I" in blade.cols %}
          <th class="table-no-bot-border">8</th>
        {% endif %}
        {% if "J" in blade.cols %}
          <th class="table-no-bot-border">10</th>
        {% endif %}
        {% if "L" in blade.cols %}
          <th class="table-no-bot-border">14</th>
        {% endif %}
        {% if "N" in blade.cols %}
          <th class="table-no-bot-border">18</th>
        {% endif %}
        {% if "O" in blade.cols %}
          <th class="table-no-bot-border">22</th>
        {% endif %}
        {% if "Ä" in blade.cols %}
          <th class="table-no-bot-border">0,9/1,1</th>
        {% endif %}
        {% if "S" in blade.cols %}
          <th class="table-no-bot-border">1,4/2</th>
        {% endif %}
        {% if "Ü" in blade.cols %}
          <th class="table-no-bot-border">1,9/2,1</th>
        {% endif %}
        {% if "T" in blade.cols %}
          <th class="table-no-bot-border">2-3</th>
        {% endif %}
        {% if "U" in blade.cols %}
          <th class="table-no-bot-border">3-4</th>
        {% endif %}
        {% if "V" in blade.cols %}
          <th class="table-no-bot-border">4-6</th>
        {% endif %}
        {% if "W" in blade.cols %}
          <th class="table-no-bot-border">5-8</th>
        {% endif %}
        {% if "X" in blade.cols %}
          <th class="table-no-bot-border">6-10</th>
        {% endif %}
        {% if "Y" in blade.cols %}
          <th class="table-no-bot-border">8-12</th>
        {% endif %}
        {% if "Z" in blade.cols %}
          <th class="table-no-bot-border">10-14</th>
        {% endif %}
        {% if "*P" in blade.cols %}
          <th class="table-no-bot-border">0,75-1,25</th>
        {% endif %}
        {% if "RP" in blade.cols %}
          <th class="table-no-bot-border">1,1-1,4</th>
        {% endif %}
        {% if "SP" in blade.cols %}
          <th class="table-no-bot-border">1,4-2</th>
        {% endif %}
        {% if "TP" in blade.cols %}
          <th class="table-no-bot-border">2-3</th>
        {% endif %}
        {% if "UP" in blade.cols %}
          <th class="table-no-bot-border">3-4</th>
        {% endif %}
        {% if "VP" in blade.cols %}
          <th class="table-no-bot-border">4-6</th>
        {% endif %}
        {% if "WP" in blade.cols %}
          <th class="table-no-bot-border">5-8</th>
        {% endif %}
        {% if "Fein" in blade.cols %}
          <th class="table-no-bot-border">Fein</th>
        {% endif %}
        {% if "Standard" in blade.cols %}
          <th class="table-no-bot-border">Standard</th>
        {% endif %}
        {% if "Grob" in blade.cols %}
          <th class="table-no-bot-border">Grob</th>
        {% endif %}
      </tr>
      <tr>
        <th class="table-white-border-right table-no-top-border">{% blocktrans %}in mm:{% endblocktrans %} {% blocktrans %}B x S{% endblocktrans %}</th>
        <th class="table-white-border-right table-no-top-border"></th>
        {% if "A" in blade.cols %}
          <th class="table-no-top-border">
            <span class="text-orange">...A</span>
          </th>
        {% endif %}
        {% if "C" in blade.cols %}
          <th class="table-no-top-border">
            <span class="text-orange">...C</span>
          </th>
        {% endif %}
        {% if "E" in blade.cols %}
          <th class="table-no-top-border">
            <span class="text-orange">...E</span>
          </th>
        {% endif %}
        {% if "G" in blade.cols and "Grob" not in blade.cols %}
          <th class="table-no-top-border">
            <span class="text-orange">...G</span>
          </th>
        {% endif %}
        {% if "H" in blade.cols %}
          <th class="table-no-top-border">
            <span class="text-orange">...H</span>
          </th>
        {% endif %}
        {% if "I" in blade.cols %}
          <th class="table-no-top-border">
            <span class="text-orange">...I</span>
          </th>
        {% endif %}
        {% if "J" in blade.cols %}
          <th class="table-no-top-border">
            <span class="text-orange">...J</span>
          </th>
        {% endif %}
        {% if "L" in blade.cols %}
          <th class="table-no-top-border">
            <span class="text-orange">...L</span>
          </th>
        {% endif %}
        {% if "N" in blade.cols %}
          <th class="table-no-top-border">
            <span class="text-orange">...N</span>
          </th>
        {% endif %}
        {% if "O" in blade.cols %}
          <th class="table-no-top-border">
            <span class="text-orange">...O</span>
          </th>
        {% endif %}
        {% if "Ä" in blade.cols %}
          <th class="table-no-top-border">
            <span class="text-orange">...Ä</span>
          </th>
        {% endif %}
        {% if "S" in blade.cols %}
          <th class="table-no-top-border">
            <span class="text-orange">...S</span>
          </th>
        {% endif %}
        {% if "Ü" in blade.cols %}
          <th class="table-no-top-border">
            <span class="text-orange">...Ü</span>
          </th>
        {% endif %}
        {% if "T" in blade.cols %}
          <th class="table-no-top-border">
            <span class="text-orange">...T</span>
          </th>
        {% endif %}
        {% if "U" in blade.cols %}
          <th class="table-no-top-border">
            <span class="text-orange">...U</span>
          </th>
        {% endif %}
        {% if "V" in blade.cols %}
          <th class="table-no-top-border">
            <span class="text-orange">...V</span>
          </th>
        {% endif %}
        {% if "W" in blade.cols %}
          <th class="table-no-top-border">
            <span class="text-orange">...W</span>
          </th>
        {% endif %}
        {% if "X" in blade.cols %}
          <th class="table-no-top-border">
            <span class="text-orange">...X</span>
          </th>
        {% endif %}
        {% if "Y" in blade.cols %}
          <th class="table-no-top-border">
            <span class="text-orange">...Y</span>
          </th>
        {% endif %}
        {% if "Z" in blade.cols %}
          <th class="table-no-top-border">
            <span class="text-orange">...Z</span>
          </th>
        {% endif %}
        {% if "*P" in blade.cols %}
          <th class="table-no-top-border">
            <span class="text-orange">...*P</span>
          </th>
        {% endif %}
        {% if "RP" in blade.cols %}
          <th class="table-no-top-border">
            <span class="text-orange">...RP</span>
          </th>
        {% endif %}
        {% if "SP" in blade.cols %}
          <th class="table-no-top-border">
            <span class="text-orange">...SP</span>
          </th>
        {% endif %}
        {% if "TP" in blade.cols %}
          <th class="table-no-top-border">
            <span class="text-orange">...TP</span>
          </th>
        {% endif %}
        {% if "UP" in blade.cols %}
          <th class="table-no-top-border">
            <span class="text-orange">...UP</span>
          </th>
        {% endif %}
        {% if "VP" in blade.cols %}
          <th class="table-no-top-border">
            <span class="text-orange">...VP</span>
          </th>
        {% endif %}
        {% if "WP" in blade.cols %}
          <th class="table-no-top-border">
            <span class="text-orange">...WP</span>
          </th>
        {% endif %}
        {% if "Fein" in blade.cols %}
          <th class="table-no-top-border">
            <span class="text-orange">...F</span>
          </th>
        {% endif %}
        {% if "Standard" in blade.cols %}
          <th class="table-no-top-border">
            <span class="text-orange">...S</span>
          </th>
        {% endif %}
        {% if "Grob" in blade.cols %}
          <th class="table-no-top-border">
            <span class="text-orange">...G</span>
          </th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for indicator in indicators %}
        <tr>
          <td class="table-white-border-right">
            {{ indicator.width }} x {{ indicator.strength }}
          </td>
          <td class="text-orange-bold table-white-border-right">
            ...{{ indicator.value }}...
          </td>

          {% if "A" in blade.cols %}
            <td>{{ indicator.A|bandsawIndicatorCheck|safe }}</td>
          {% endif %}
          {% if "C" in blade.cols %}
            <td>{{ indicator.C|bandsawIndicatorCheck|safe }}</td>
          {% endif %}
          {% if "E" in blade.cols %}
            <td>{{ indicator.E|bandsawIndicatorCheck|safe }}</td>
          {% endif %}
          {% if "G" in blade.cols and "Grob" not in blade.cols %}
            <td>{{ indicator.G|bandsawIndicatorCheck|safe }}</td>
          {% endif %}
          {% if "H" in blade.cols %}
            <td>{{ indicator.H|bandsawIndicatorCheck|safe }}</td>
          {% endif %}
          {% if "I" in blade.cols %}
            <td>{{ indicator.I|bandsawIndicatorCheck|safe }}</td>
          {% endif %}
          {% if "J" in blade.cols %}
            <td>{{ indicator.J|bandsawIndicatorCheck|safe }}</td>
          {% endif %}
          {% if "L" in blade.cols %}
            <td>{{ indicator.L|bandsawIndicatorCheck|safe }}</td>
          {% endif %}
          {% if "N" in blade.cols %}
            <td>{{ indicator.N|bandsawIndicatorCheck|safe }}</td>
          {% endif %}
          {% if "O" in blade.cols %}
            <td>{{ indicator.O|bandsawIndicatorCheck|safe }}</td>
          {% endif %}
          {% if "Ä" in blade.cols %}
            <td>{{ indicator.AE|bandsawIndicatorCheck|safe }}</td>
          {% endif %}
          {% if "S" in blade.cols %}
            <td>{{ indicator.S|bandsawIndicatorCheck|safe }}</td>
          {% endif %}
          {% if "Ü" in blade.cols %}
            <td>{{ indicator.UE|bandsawIndicatorCheck|safe }}</td>
          {% endif %}
          {% if "T" in blade.cols %}
            <td>{{ indicator.T|bandsawIndicatorCheck|safe }}</td>
          {% endif %}
          {% if "U" in blade.cols %}
            <td>{{ indicator.U|bandsawIndicatorCheck|safe }}</td>
          {% endif %}
          {% if "V" in blade.cols %}
            <td>{{ indicator.V|bandsawIndicatorCheck|safe }}</td>
          {% endif %}
          {% if "W" in blade.cols %}
            <td>{{ indicator.W|bandsawIndicatorCheck|safe }}</td>
          {% endif %}
          {% if "X" in blade.cols %}
            <td>{{ indicator.X|bandsawIndicatorCheck|safe }}</td>
          {% endif %}
          {% if "Y" in blade.cols %}
            <td>{{ indicator.Y|bandsawIndicatorCheck|safe }}</td>
          {% endif %}
          {% if "Z" in blade.cols %}
            <td>{{ indicator.Z|bandsawIndicatorCheck|safe }}</td>
          {% endif %}
          {% if "*P" in blade.cols %}
            <td>{{ indicator.star_p|bandsawIndicatorCheck|safe }}</td>
          {% endif %}
          {% if "RP" in blade.cols %}
            <td>{{ indicator.RP|bandsawIndicatorCheck|safe }}</td>
          {% endif %}
          {% if "SP" in blade.cols %}
            <td>{{ indicator.SP|bandsawIndicatorCheck|safe }}</td>
          {% endif %}
          {% if "TP" in blade.cols %}
            <td>{{ indicator.TP|bandsawIndicatorCheck|safe }}</td>
          {% endif %}
          {% if "UP" in blade.cols %}
            <td>{{ indicator.UP|bandsawIndicatorCheck|safe }}</td>
          {% endif %}
          {% if "VP" in blade.cols %}
            <td>{{ indicator.VP|bandsawIndicatorCheck|safe }}</td>
          {% endif %}
          {% if "WP" in blade.cols %}
            <td>{{ indicator.WP|bandsawIndicatorCheck|safe }}</td>
          {% endif %}
          {% if "Fein" in blade.cols %}
            <td>{{ indicator.F|bandsawIndicatorCheck|safe }}</td>
          {% endif %}
          {% if "Standard" in blade.cols %}
            <td>{{ indicator.S|bandsawIndicatorCheck|safe }}</td>
          {% endif %}
          {% if "Grob" in blade.cols %}
            <td>{{ indicator.G|bandsawIndicatorCheck|safe }}</td>
          {% endif %}

          {% if user.is_staff %}
            <td>
              <a href="{% url 'admin:products_bandsawbladeindicator_change' indicator.id %}">
                <i class="fa fa-pencil-square-o"></i>
              </a>
            </td>
          {% endif %}

        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if blade.type == "NC20" or blade.type == "NC35" %}
    S = {% trans "Standardzahn" %}<br>
    K = {% trans "Klauenzahn" %}
  {% else %}
    {% include 'products/include_available_teeth.html' %}
  {% endif %}
{% endblock %}
