// Color definitions
$yellow: #f5a714
$blue: #00326a
$lightblue: #014FA7
$containerWidth: 100%

// General style definitions
body
  font-size: 12pt

a
  font-size: 12pt

h1
  padding-bottom: 0.5em

@media (min-width: 1600px)
  .container
    width: 1400px

// Configure Buttons
/*.btn-primary
  background-color: $lightblue*/

// Styling the navbar
.navbar .container
  padding-top: 1em

#navbar
  padding: 0 !important

.navbar .nav > li > a
  $navbarHeight: 80px
  $elementHeight: 20px
  padding: (($navbarHeight - $elementHeight) / 2 - 1) 10px (($navbarHeight - $elementHeight) / 2 + 1)
  line-height: $elementHeight
  font-weight: bold

// Define header image
#header-img
  max-width: $containerWidth
  margin: 0 auto 1em auto
  background-color: $blue
  img
    max-width: 100%


//// Footer
#footer
  max-width: $containerWidth
  margin: 1em auto
  h3
    margin: 0
    color: white
  font-size: 10pt
  a
    font-size: 10pt

#footer-text
  padding-top: 1em

// Product groups
#product-groups
  background-color: $blue
  padding: 2em 0
  h3
    line-height: 80px

.img-product-groups
  width: 80px


// Make footer sticky
// Sticky footer styles
$footer-height: 176px
html
  position: relative
  min-height: 100%

@media only screen and (min-width: 1000px)
  #main
    margin-bottom: $footer-height

#footer-wrapper
  margin-top: 50px

@media only screen and (min-width: 1000px)
  #footer-wrapper
    position: absolute
    bottom: 0
    width: 100%
    // Set the fixed height of the footer here
    height: $footer-height

// END Make footer sticky

// Configure Images
.img-news
  max-width: 100%


//// News Application
#cube
  background-color: $blue
  width: 60px
  height: 60px

#cube-content
  color: white
  vertical-align: middle
  padding-top: 8px
  line-height: 20px
  text-align: center

#news-image
  padding-bottom: 0.5em
  img
    max-width: 440px
    max-height: 165px

#news-title
  h4
    margin-top: 0.25em

#news-header
  padding-bottom: 0.5em