// Color definitions
$orange: #f16e34
$orange-lighter: #feedd3
$orange-light: #fccf8f
$orange-medium: #faaf49
$orange-dark: #f79210
$blue: #00326a
$lightblue: #014FA7
$containerWidth: 100%
$productHeight: 80px
$footerHeight: 80px
$lightgrey: #F9F9F9
$darkgrey: #F0F0F0

// General style definitions
//body
//  font-size: 12pt

a
  color: $orange
a:hover
  color: $orange

.nav a
  color: $blue

h1
  padding-bottom: 0.5em

.text-orange
  color: $orange

.text-orange-bold
  color: $orange
  font-weight: bold

.bg-orange-lighter
  background-color: $orange-lighter !important
.bg-orange-light
  background-color: $orange-light !important
.bg-orange-medium
  background-color: $orange-medium !important
.bg-orange-dark
  background-color: $orange-dark !important

.blue-div
  background-color: $blue
  width: 100%


.table-dark-grey-column
  background-color: $darkgrey
.table-light-grey-column
  background-color: $lightgrey
.table-orange-light
  background-color: $orange-light
.table-orange-medium
  background-color: $orange-medium
.table-orange-light
  background-color: $orange-light

.table-small-height
  padding: 0 !important

// Configure Buttons
/*.btn-primary
  background-color: $lightblue*/

// Styling the navbar
.navbar .container
  padding-top: 1em

#navbar
  padding: 0 !important

.navbar .nav > li > a
  $navbarHeight: 80px
  $elementHeight: 20px
  padding: (($navbarHeight - $elementHeight) / 2 - 1) 10px (($navbarHeight - $elementHeight) / 2 + 1)
  line-height: $elementHeight
  font-weight: bold

// Define header image
#header-img-wrapper
  max-width: $containerWidth
  margin: 0 auto 1em auto
  background-color: $blue
  img
    max-width: 100%

#header-img-text-wrapper
  position: relative

#header-text
  position: absolute
  background-color: rgba($blue, .5)
  z-index: 1000
  top: 55%
  left: 0
  color: white
  padding: 1em
  h2
    margin-top: 0

//// Footer and product groups
#footer, .product-groups-wrapper
  max-width: $containerWidth
  //font-size: 12pt
  h3
    margin: 0
    color: white
  //a
  //  font-size: 10pt

#footer-line
  height: 1px
  background-color: white
  width: 100%

// Product groups
#product-groups
  background-color: $blue
  padding: 0
  line-height: $productHeight + 30
  margin: 0
  h3
    line-height: $productHeight + 30

.img-product-groups
  width: $productHeight

.products-index
  padding-bottom: 1em

// Make footer sticky
// Sticky footer styles
html
  position: relative
  min-height: 100%

@media only screen and (min-width: 1000px)
  #main
    margin-bottom: $footerHeight

#footer-wrapper
  background-color: $blue
  color: white
  a
    color: white

@media only screen and (min-width: 1000px)
  #footer-wrapper
    position: absolute
    bottom: 0
    width: 100%
    line-height: $footerHeight
    // Set the fixed height of the footer here
    height: $footerHeight
// END Make footer sticky


// Configure Images
.img-news
  max-width: 100%


//// News Application
#cube
  background-color: $blue
  width: 60px
  height: 60px

#cube-content
  color: white
  vertical-align: middle
  padding-top: 8px
  line-height: 20px
  text-align: center

#news-image
  padding-bottom: 0.5em
  img
    max-width: 440px
    max-height: 165px

#news-detail-image
  img
    max-width: 33%
    float: right
    padding: 0 0 1em 1em

#news-title
  h4
    margin-top: 0.25em
    a
      color: black

#news-header
  padding-bottom: 0.5em

.news-row
  padding-bottom: 2em


// Products: SawBlade
.indicator-dot
  font-size: 75%

#products-sawblade-table
  text-align: center
  thead th
    background-color: $darkgrey
    text-align: center

.table-striped-column > tbody > tr td:nth-of-type(even)
  background-color: $darkgrey
.table-striped-column > tbody > tr td:nth-of-type(odd)
  background-color: $lightgrey

.table-black-border-right
  border-right: thin solid black

.table-white-border-right
  border-right: thick solid white
.table-only-white-border-right
  border: 0 !important
  background-color: transparent !important
  border-right: thick solid white !important

.table-no-bot-border
  border-bottom: 0 !important

.table-no-top-border
  border-top: 0 !important

.table-no-border-color
  border: 0 !important
  background-color: transparent !important


// All about products
.products-list-item
  padding-bottom: 0.3em

.padding-bottom
  padding-bottom: 1em